<div class='mt-4'>
  <div>
    <a href='/me/stored/courses'>Dang sách khóa học</a>
    <h3>Khoá học đã xóa</h3>
  </div>

  <table class='table mt-4'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Tên khóa học</th>
        <th scope='col'>Trình độ</th>
        <th scope='col'>Thời gian xóa</th>
        <th scope='col'>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      {{! Loop when have data }}
      {{#each courses}}
        <tr>
          <th scope='row'>{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.deletedAt}}</td>
          <td>
            <a
              href=''
              data-id='{{this._id}}'
              class='btn btn-primary my-1 btn-restore'
              style='min-width:120px'
            >
              Khôi phục
            </a>
            <a
              href='/courses/{{this._id}}/delete'
              class='btn btn-danger my-1'
              data-toggle='modal'
              data-id='{{this._id}}'
              data-target='#delete-course-modal'
              style='min-width:120px'
            >Xóa vĩnh viễn</a>
          </td>
        </tr>
        {{! When no data }}
      {{else}}
        <tr>
          <td colspan='5' class='text-center'>
            Thùng rác trống!
            <a href='/me/stored/courses'>Danh sách khóa học</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Confirm delete course}}
<div id='delete-course-modal' class='modal' tabindex='-1' role='dialog'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Xóa vĩnh viễn khóa học?</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <p>
          Hành động này không thể khôi phục.
          <br />
          Bạn vẫn muốn xóa khóa học này?
        </p>
      </div>
      <div class='modal-footer'>
        <button
          id='btn-delete-course'
          type='button'
          class='btn btn-danger'
          style='min-width:120px'
        >Có</button>
        <button
          type='button'
          class='btn btn-secondary'
          data-dismiss='modal'
          style='min-width:120px'
        >Không</button>
      </div>
    </div>
  </div>
</div>

<form method='POST' name='delete-course-form'></form>
<form method='POST' name='restore-course-form'></form>

<script>
  document.addEventListener('DOMContentLoaded', () => {
  {{! Begin }}
  var courseId; var deleteForm = document.forms['delete-course-form']; var restoreForm =
  document.forms['restore-course-form']; var
  btnDeleteCourse=document.getElementById('btn-delete-course'); var restoreBtn = $('.btn-restore');

  {{! When dialog confirm clicked  }}
  $('#delete-course-modal').on('show.bs.modal', (e) => { var button = $(e.relatedTarget); courseId =
  button.data('id'); });

  {{! When delete course btn clicked  }}
  btnDeleteCourse.onclick = () => { deleteForm.action = '/courses/'+
  courseId+'/force?_method=DELETE'; deleteForm.submit(); }

  {{! Restore btn clicked }}
  restoreBtn.click(function(e){e.preventDefault(); var courseId =$(this).data('id');
  restoreForm.action = '/courses/'+ courseId+'/restore?_method=PATCH'; restoreForm.submit(); });

  {{! End }}
  });
</script>